<article class="leaderboard">
    <header mat-dialog-title>
      <h1 class="leaderboard__title"><span class="leaderboard__title--top">Chat</span><span class="leaderboard__title--bottom">Rooms</span></h1>
    </header>
</article>
    
<mat-dialog-content>
    <main class="leaderboard__profiles">
        <article class="leaderboard__profile" *ngFor="let room of rooms" (click)="selectRoom(room.name)">
        <mat-icon mat-fab *ngIf="room.private">lock</mat-icon>
        <mat-icon mat-fab *ngIf="!room.private">public</mat-icon>
        <span class="leaderboard__name">{{room.name}}</span>
        <span class="leaderboard__value" *ngIf="room.private">Private</span>
        <span class="leaderboard__value" *ngIf="!room.private">Public</span>
        </article>
    </main>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>
    

