<body>
    <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../../node_modules/jquery/dist/jquery.min.js"></script>
    <h2>Change Password</h2>

    <mat-dialog-content>
        <p>Select a new password for your channel</p>
        <div class="t">
            <div class="u">
                <input matInput placeholder="Password" type="password" [type]="showPass ? 'text' : 'password'" (keydown.space)="$event.preventDefault()" [(ngModel)]="newPass">
            </div>
            <mat-icon style="position: relative; top: 5px;" matSuffix matTooltip="Show Password" *ngIf="!showPass" (click)="togglePass()">visibility</mat-icon>
            <mat-icon style="position: relative; top: 5px;" matSuffix matTooltip="Hide Password" *ngIf="showPass" (click)="togglePass()">visibility_off</mat-icon>
        </div>
        
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="save()">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
    </mat-dialog-actions>
</body>