<!-- Contenedor completo -->
<mat-sidenav-container class="container">
  <!-- Sidenav izquierdo, con pestañas para salas y usuarios -->
  <mat-sidenav mat-drawer mode="side" opened>
    <mat-card mat-card>
      <!-- Grupo de 2 pestañas, salas y personas -->
      <mat-tab-group>
        <!-- Pestaña de salas -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>forum</mat-icon>
          </ng-template>
          <mat-list class="conversations">
            <mat-list-item *ngFor="let room of rooms" (click)="updateSelectedRoom(room.name)">
              <mat-icon matListIcon style="font-size: 15px;" *ngIf="room.isGroup && !room.private">public</mat-icon>
              <mat-icon matListIcon style="font-size: 15px;" *ngIf="!room.isGroup">whatsapp</mat-icon>
              <mat-icon matListIcon style="font-size: 15px;" *ngIf="room.isGroup && room.private">lock</mat-icon>
              <mat-icon class="icon_display" *ngIf="isInArray(room.name)">notifications</mat-icon>
              <p class="letters" *ngIf="room.name == selectedRoom && room.isGroup"><strong>{{room.name}}</strong></p>
              <p class="letters" *ngIf="room.name == selectedRoom && !room.isGroup"><strong>{{splitName(room.name)}}</strong></p>
              <p class="letters" *ngIf="room.name != selectedRoom && room.isGroup">{{room.name}}</p>
              <p class="letters" *ngIf="room.name != selectedRoom && !room.isGroup">{{splitName(room.name)}}</p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
        <!-- Pestaña de personas -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>people</mat-icon>
          </ng-template>
          <mat-list class="conversations">
            <mat-list-item *ngFor="let user of users">
              <mat-icon *ngIf="user.online" matListIcon style="font-size: 15px; position: relative; margin-top: 8px;">person</mat-icon>
              <p (click)="userToUser(user.name)" matTooltip="Start a private chat with {{user.name}}" *ngIf="user.online && mutedUsers.indexOf(user.name) === -1" class="letters">{{user.name}}</p>
              <mat-icon (click)="muteUser(user.name)" *ngIf="mutedUsers.indexOf(user.name) === -1" matTooltip="Mute User" style="font-size: 15px; position: absolute; margin-top: 8px; left: 200px;">voice_over_off</mat-icon>
              <p style="color: grey;" matTooltip="This user is muted" *ngIf="user.online && mutedUsers.indexOf(user.name) > -1" class="letters">{{user.name}}</p>
              <mat-icon (click)="unmuteUser(user.name)" *ngIf="mutedUsers.indexOf(user.name) > -1" matTooltip="Unmute User" style="font-size: 15px; position: absolute; margin-top: 8px; left: 200px;">record_voice_over</mat-icon>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-sidenav>

  <!-- Barra lateral derecha correspondiente a personas en cada sala -->
  <mat-sidenav position="end" mode="side" opened>
    <mat-card>
      <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <h2 class="letters">
                    <mat-icon>search</mat-icon>
                    Search Rooms
                </h2>
            </ng-template>
            <div class="t">
                <button style="margin: 0px 0; background-color: transparent;" mat-fab matTooltip="Search room" (click)="openDialog()">
                    <mat-icon>find_in_page</mat-icon>
                    Search all rooms
                </button>
            </div>
        </mat-tab>
        <!-- Pestaña para crear nuevas salas -->
        <mat-tab>
          <ng-template mat-tab-label>
              <h2 class="letters">
                  <mat-icon>fiber_new</mat-icon>
                  Create group
              </h2>
          </ng-template>
          <div class="t">
            <div class="u">
              <input style="color: antiquewhite;" matInput mat-input type="text" placeholder="Group name" (keydown.space)="$event.preventDefault()" size="10" [(ngModel)]="newRoom" (keyup.enter)="createNewRoom()" autocomplete="off">
              <input matInput style="margin-top: 40px; color: antiquewhite;" [type]="showPass ? 'text' : 'password'" placeholder="Password" (keydown.space)="$event.preventDefault()" size="7" *ngIf="privateGroup" [(ngModel)]="password">
            </div>
            <button mat-icon-button matTooltip="Create a new group" (click)="createNewRoom()" [disabled]="newRoom === ''">
              <mat-icon>person_add</mat-icon>
            </button>
            <mat-slide-toggle style="position: absolute; right: 100px; top: 10px;" matTooltip="Make group private" [(ngModel)]="privateGroup"></mat-slide-toggle>
            <mat-icon style="position: absolute; right: 218px; top: 65px;" matSuffix matTooltip="Hide Password" *ngIf="privateGroup && showPass" (click)="togglePass()">visibility</mat-icon>
            <mat-icon style="position: absolute; right: 218px; top: 65px;" matSuffix matTooltip="Show Password" *ngIf="privateGroup && !showPass" (click)="togglePass()">visibility_off</mat-icon>
          </div>
        </mat-tab>
      </mat-tab-group>
      
      <mat-list class="members">
          <h2 class="letters title">Users in group {{showRoom}}</h2>
          <mat-list-item *ngFor="let user of usersInRoomArr">
            <p class="letters">{{user.name}}</p>
            <button class="fixedbutton" *ngIf="room.admin && room.admin.name === username" mat-icon-button>
              <mat-icon matTooltip="Mute User">voice_over_off</mat-icon>
              <mat-icon style="margin-left: 10px;" matTooltip="Ban User"> cancel_presentation</mat-icon>
            </button>
          </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-sidenav>

  <!-- Sección de escritura sin sala seleccionada -->
  <!-- <section *ngIf="!selectedRoom">
    <h1>Select a conversation from the left to start chatting</h1>
  </section> -->

  <!-- Cabecera sección escritura -->
  <section class="bckimg">
    <div *ngIf="!selectedRoom" class="mat-typography conversation-header">
        <h2 class="letters" style="text-align: center;">
          Hello {{username}}, welcome to trascendence, select a conversation from the left to start chatting
        </h2>
        <p class="letters">
          <mat-icon>account_circle</mat-icon>
          {{realUsers}} users currently chatting
        </p>
    </div>
    <div *ngIf="selectedRoom" class="mat-typography conversation-header">
      <h2 class="letters">
        <mat-icon>forum</mat-icon>
        {{showRoom}}
      </h2>
      <p class="letters">
        <mat-icon>account_circle</mat-icon>
        {{usersInRoom}} Members
      </p>
    </div>


    <!-- Display de mensajes -->
    <mat-divider></mat-divider>
    <mat-list dense class="conversation-history mat-typography">
      <ion-content>
        <ion-grid>
          <!-- <ion-row *ngFor="let message of messages[selectedRoom]"> -->
          <ion-row  *ngFor="let message of messages">    
            <ion-col size="9" *ngIf="message.user.name !== username && mutedUsers.indexOf(message.user.name) === -1" class="message"
                    [ngClass]="{'my_message': message.user.name === username, 'other_message': message.user.name !== username}">
              <span class="user_name"><strong>{{ message.user.name }}:</strong></span><br>
              <span>{{ message.message }}</span>
              <div class="time">{{message.time | date:'dd.MM HH:mm'}}</div>
            </ion-col>

            <ion-col size="9" *ngIf="message.user.name !== username && mutedUsers.indexOf(message.user.name) > -1" class="message"
                    [ngClass]="{'my_message': message.user.name === username, 'other_message': message.user.name !== username}">
              <span class="user_name"><strong>{{ message.user.name }}:</strong></span><br>
              <span>Has silenciado a este usuario, no puedes ver sus mensajes</span>
              <div class="time">{{message.time | date:'dd.MM HH:mm'}}</div>
            </ion-col>
      
            <ion-col offset="3" size="9" *ngIf="message.user.name === username" class="message"
                    [ngClass]="{'my_message': message.user.name === username, 'other_message': message.user.name !== username}">
              <span class="user_name"><strong>{{ message.user.name }}:</strong></span><br>
              <span>{{ message.message }}</span>
              <div class="time">{{message.time | date:'dd.MM HH:mm'}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
      
    </mat-list>
    <!-- Input de escritura -->
    <div class="conversation-input">
      <mat-divider></mat-divider>
      <mat-form-field class="full-width">
        <input matInput placeholder="Start chatting..." (keyup.enter)="sendChatMessage()" name="text" [(ngModel)]="text" autocomplete="off">
        <mat-icon matSuffix (click)="sendChatMessage()">send</mat-icon>
        <!-- <mat-icon matSuffix (click)="playAudio()">notifications</mat-icon> -->
      </mat-form-field>
    </div>
  </section>

</mat-sidenav-container>
