<!-- Contenedor completo -->
<mat-sidenav-container class="container">
  <!-- Sidenav izquierdo, con pestañas para salas y usuarios -->
  <mat-sidenav mode="side" opened>
    <mat-card>
      <!-- Grupo de 2 pestañas, salas y personas -->
      <mat-tab-group>
        <!-- Pestaña de salas -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>forum</mat-icon>
          </ng-template>
          <mat-list class="conversations">
            <mat-list-item *ngFor="let room of rooms" (click)="updateSelectedRoom(room.name)">
              <mat-icon matListIcon style="font-size: 15px;" *ngIf="room.isGroup && !room.private">public</mat-icon>
              <mat-icon matListIcon style="font-size: 15px;" *ngIf="!room.isGroup">whatsapp</mat-icon>
              <mat-icon matListIcon style="font-size: 15px;" *ngIf="room.isGroup && room.private">lock</mat-icon>
              <mat-icon class="icon_display" *ngIf="isInArray(room.name)">notifications</mat-icon>
              <p *ngIf="room.name == selectedRoom && room.isGroup"><strong>{{room.name}}</strong></p>
              <p *ngIf="room.name == selectedRoom && !room.isGroup"><strong>{{splitName(room.name)}}</strong></p>
              <p *ngIf="room.name != selectedRoom && room.isGroup">{{room.name}}</p>
              <p *ngIf="room.name != selectedRoom && !room.isGroup">{{splitName(room.name)}}</p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
        <!-- Pestaña de personas -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>people</mat-icon>
          </ng-template>
          <mat-list class="conversations">
            <mat-list-item *ngFor="let user of users" (click)="userToUser(user)">
              <mat-icon matListIcon style="font-size: 15px;">person</mat-icon>
              <p>{{user}}</p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-sidenav>

  <!-- Barra lateral derecha correspondiente a personas en cada sala -->
  <mat-sidenav position="end" mode="side" opened>
    <mat-card>
      <p class="title">Create a new group</p>
      <mat-tab-group>
          <mat-tab>
              <ng-template mat-tab-label>
                  <input matInput mat-input type="text" placeholder="Group name" (keydown.space)="$event.preventDefault()" size="10" [(ngModel)]="newRoom" (keyup.enter)="createNewRoom()">
                  <button mat-icon-button matTooltip="Create a new group" (click)="createNewRoom()" [disabled]="newRoom === ''">
                      <mat-icon>person_add</mat-icon>
                  </button>
                  <!-- <mat-slide-toggle matTooltip="Make group private" [(ngModel)]="privateGroup"></mat-slide-toggle>
                  <input matInput style="margin-left: 10px;" [type]="showPass ? 'text' : 'password'" placeholder="Password" (keydown.space)="$event.preventDefault()" size="7" *ngIf="privateGroup" [(ngModel)]="password"> -->
                  <!-- <mat-icon matSuffix *ngIf="privateGroup && showPass" (click)="togglePass()">visibility</mat-icon>
                  <mat-icon matSuffix *ngIf="privateGroup && !showPass" (click)="togglePass()">visibility_off</mat-icon> -->
              </ng-template>
          </mat-tab>
      </mat-tab-group>
      
      <mat-list class="members">
          <p class="title">Users in group {{showRoom}}</p>
          <mat-list-item *ngFor="let user of usersInRoomArr">
            <p>{{user.name}}</p>
          </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-sidenav>

  <!-- Sección de escritura sin sala seleccionada -->
  <section class="empty-conversation" *ngIf="!selectedRoom">
    <h1 class="mat-display-1">Select a conversation from the left to start chatting</h1>
  </section>

  <!-- Cabecera sección escritura -->
  <section *ngIf="selectedRoom">
    <div class="mat-typography conversation-header">
      <h2>
        <mat-icon>forum</mat-icon>
        {{showRoom}}
      </h2>
      <p>
        <mat-icon>account_circle</mat-icon>
        {{usersInRoom}} Members
    </p>
    </div>

    <!-- Display de mensajes -->
    <mat-divider></mat-divider>
    <mat-list dense class="conversation-history mat-typography">
      <ion-content>
        <ion-grid>
          <!-- <ion-row *ngFor="let message of messages[selectedRoom]"> -->
          <ion-row *ngFor="let message of messages">    
            <ion-col size="9" *ngIf="message.user.name !== username" class="message"
                    [ngClass]="{'my_message': message.user.name === username, 'other_message': message.user.name !== username}">
              <span class="user_name"><strong>{{ message.user.name }}:</strong></span><br>
              <span>{{ message.message }}</span>
              <div class="time">{{message.time | date:'dd.MM HH:mm'}}</div>
            </ion-col>
      
            <ion-col offset="3" size="9" *ngIf="message.user.name === username" class="message"
                    [ngClass]="{'my_message': message.user.name === username, 'other_message': message.user.name !== username}">
              <span class="user_name"><strong>{{ message.user.name }}:</strong></span><br>
              <span>{{ message.message }}</span>
              <div class="time">{{message.time | date:'dd.MM HH:mm'}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
      
    </mat-list>
    <!-- Input de escritura -->
    <div class="conversation-input">
      <mat-divider></mat-divider>
      <mat-form-field class="full-width">
        <input matInput placeholder="Start chatting..." (keyup.enter)="sendChatMessage()" name="text" [(ngModel)]="text" autocomplete="off">
        <mat-icon matSuffix (click)="sendChatMessage()">send</mat-icon>
        <!-- <mat-icon matSuffix (click)="playAudio()">notifications</mat-icon> -->
      </mat-form-field>
    </div>
  </section>

</mat-sidenav-container>
