<!-- Contenedor completo -->
<mat-sidenav-container class="container">
  <!-- Sidenav izquierdo, con pestañas para salas y usuarios -->
  <mat-sidenav mode="side" opened>
    <mat-card>
      <!-- Grupo de 2 pestañas, salas y personas -->
      <mat-tab-group>
        <!-- Pestaña de salas -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>forum</mat-icon>
          </ng-template>
          <mat-list class="conversations">
            <mat-list-item>
              <mat-icon matListIcon style="font-size: 15px;">public</mat-icon>
              <p>General</p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
        <!-- Pestaña de personas -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>people</mat-icon>
          </ng-template>
          <mat-list class="conversations">
            <mat-list-item *ngFor="let user of users">
              <mat-icon matListIcon style="font-size: 15px;">person</mat-icon>
              <p>{{user}}</p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-sidenav>

  <!-- Barra lateral derecha correspondiente a personas en cada sala -->
  <mat-sidenav position="end" mode="side">

  </mat-sidenav>

  <!-- Sección de escritura sin sala seleccionada -->
  <!-- <section class="empty-conversation">
    <h1 class="mat-display-1">Select a conversation from the left to start chatting</h1>
  </section> -->

  <!-- Cabecera sección escritura -->
  <section>
    <div class="mat-typography conversation-header">
      <h2>
        <mat-icon>forum</mat-icon>
        General
      </h2>
      <p>
        <mat-icon>account_circle</mat-icon>
        {{(allUsers).length}} Members
    </p>
    </div>

    <!-- Display de mensajes -->
    <mat-divider></mat-divider>
    <mat-list dense class="conversation-history mat-typography">
      <ion-grid>
        <ion-row *ngFor="let message of messages['General']">
          <ion-col size="9" *ngIf="message.user.name !== username" class="message"
                  [ngClass]="{'my_message': message.user.name === username, 'other_message': message.user.name !== username}">
            <span class="user_name">{{ message.user.name }}:</span><br>
            <span>{{ message.message }}</span>
            <div class="time">{{message.time | date:'dd.MM HH:mm'}}</div>
          </ion-col>
    
          <ion-col offset="3" size="9" *ngIf="message.user.name === username" class="message"
                  [ngClass]="{'my_message': message.user.name === username, 'other_message': message.user.name !== username}">
            <span class="user_name">{{ message.user.name }}:</span><br>
            <span>{{ message.message }}</span>
            <div class="time">{{message.time | date:'dd.MM HH:mm'}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-list>
    <!-- Input de escritura -->
    <div class="conversation-input">
      <mat-divider></mat-divider>
      <mat-form-field class="full-width">
        <input matInput placeholder="Start chatting..." (keyup.enter)="sendChatMessage()" name="text" [(ngModel)]="text" autocomplete="off">
        <mat-icon matSuffix (click)="sendChatMessage()">send</mat-icon>
        <!-- <mat-icon matSuffix (click)="playAudio()">notifications</mat-icon> -->
      </mat-form-field>
    </div>
  </section>

</mat-sidenav-container>
